.button {
    font-size: large;
    color: white;
    background: rgba(105, 110, 226, 1);
    margin: 5px;
    border: black;
    border-radius: 10px;
    width: 100px;
    height: 50px;
}

.disabled {
    font-size: large;
    color: white;
    background: gray;
    margin: 5px;
    border: black;
    border-radius: 10px;
    width: 100px;
    height: 50px;
}
