.input {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 20px;
    height: 25px;
    border-radius: 10px;
    outline: none;

}
.inputError {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 20px;
    height: 25px;
    border-radius: 10px;
    outline: none;
    border: 2px solid red;

}

.text {
    font-size: x-large;
    text-align: center;
}

.textError{

    font-size: x-large;
    text-align: center;
    color: red;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}