.input {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 20px;
    height: 25px;
    border-radius: 10px;
    outline: none;


}

.text {
    font-size: x-large;
    text-align: center;
}