.main {

    font-family: 'Courier New', Courier, monospace;
    color: #001f3f;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;

}

.container {
    display: flex;
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.display{
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.display-error{
    color: red;
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}



.settings {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    align-items: center;
    justify-content: center;



}

