.main {
    font-family: DPix_8pt;
    background: #29363c;
    color: #fff;
    display: flex;
    border: 1px solid black;
    justify-content: center;

}

.container {
    display: flex;
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.display{
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.display-error{
    color: red;
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}



.settings {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    align-items: center;
    justify-content: center;



}

